body { 
    margin:0;
    padding:0;
    font-family: 'Roboto Mono', monospace;
}
h1 {
    font-family: 'Roboto Mono', monospace;
    position: absolute;
    top: 0px;
    left: 10px;
    z-index: 1500000!important;
}
#map { 
  position:absolute;
  top:0;
  bottom:0;
  width:100%;
  height: 100%;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#map canvas {
    cursor: crosshair;
}
#logo-container {
    position: absolute;
    top: 10px;
    left: 160px;
}
#logo {
    height: 100%;
    width: 100%;
}

#hideshow {
    width: 140px;
    z-index: 5000!important;
    position: absolute;
    top: 10px;
    right: 10px;
    font-family: 'Roboto Mono', monospace;
}

#style-menu {
    position: absolute;
    top: 0;
    left: 22%;
    right: 22%;
    background: #fff;
    filter: opacity(0.8);
    padding: 10px;
    z-index: 100;
    font-family: 'Roboto Mono', monospace;
}

#toggle-features  {
        background: #fff;
        position: absolute;
        z-index: 4;
        top: 40px;
        right: 10px;
        border-radius: 3px;
        width: 140px;
        border: 1px solid rgba(0,0,0,0.4);
        font-family: 'Open Sans', sans-serif;
    }

    #toggle-features a {
        font-family: 'Roboto Mono', monospace;
        font-size: 14px!important;
        color: #404040;
        display: block;
        margin: 0;
        padding: 0;
        padding: 10px;
        text-decoration: none;
        border-bottom: 1px solid rgba(0,0,0,0.25);
        text-align: center;
    }

    #toggle-features a:last-child {
        border: none;
    }

    #toggle-features a:hover {
        background-color: #f8f8f8;
        color: #404040;
    }

    #toggle-features a.active {
        background-color: #2d3b45!important;
        color: #ffffff;
    }

    #toggle-features a.active:hover {
        background: #3074a4;
    }

#modal-container {
  position: absolute;
  z-index: 1999;
  top: 200px;
  right: 10px;
  bottom: 20px;
}
.modal-content {
  z-index: 2000;
  font-family: 'Roboto Mono', monospace;
}
.btn-info {
  background-color: #2d3b45!important;
  font-family: 'Roboto Mono', monospace;
  right: 10px;
  bottom: 10px!important;
  position: absolute;
}
@media screen and (max-width: 1020px) and (min-width: 700px) {
    h1 {
        font-size: 30px!important;
    }
    #logo-container {
        position: absolute;
        top: 56px;
        left: 10px;
    }
    #hideshow {
        width: 130px;
    }
    #toggle-features {
        width: 130px;
    }
    #toggle-features a {
        font-size: 12px!important;
    }
    .btn-info {
        font-size: 12px!important;
      }
    #style-menu {
        font-size: 12px;
    }
}

@media screen and (max-width: 700px) and (min-width: 500px) {
    #logo {
        visibility: hidden;
    }
    h1 {
        visibility: hidden;
    }
    #hideshow {
        width: 116px;
    }
    #toggle-features {
        width: 116px;
    }
    #toggle-features a {
        font-size: 11px!important;
    }
    .btn-info {
        font-size: 12px!important;
    }
    #style-menu {
        font-size: 11px;
        top: 0;
        left: 0;
        width: 320px;
    }
}

@media screen and (max-width: 500px) {
    #logo {
      visibility: hidden;
    }
    h1 {
      visibility: hidden;
    }
    #hideshow {
        width: 116px;
    }
    #toggle-features {
        width: 116px;
    }
    #toggle-features a {
        font-size: 11px!important;
    }
    .btn-info {
        font-size: 12px!important;
      }
    #style-menu {
        font-size: 11px;
        top: 0;
        left: 0;
        width: 200px;
    }
  }